<!DOCTYPE html>
<html>
    <head>help!</head>
    <body>
        <%- include('nav.ejs') %>
        <h1 style="color: yellowgreen;">contact us</h1>
        <input type="text" id="name">NAME
        <button>click</button>
    </body>
</html>