<!DOCTYPE html>
<html>
    
    <title>change</title>
    <head>
        
        
        <link rel="stylesheet" href="styles/home.css" type="text/css" />
    </head>
    <body background="https://wallpapercave.com/wp/wp4588460.jpg"> <br>
      <%- include('nav.ejs') %>
        <ul>
            <b><li><a class="active" href="#home">Home</a></li></b>
           <li> <a href="https://www.w3schools.com/" target="_blank">about</a></li>
          <li>  <a href="#achievements">work</a></li>
        </ul> <br>
        <center><fieldset id="field"><h1 class="h1 h1:hover" id="h1">SHASH PORTFOLIO</a></h1></fieldset></center><br>
        <h1>hello</h1>
        
       
    </body>
</html>